<a href="https://colab.research.google.com/github/meghanath2052/Introducton_to_Python_Coding_Ninjas/blob/master/04_Patterns%202/04_TriangleOfNumbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input())
currRow = 1
while currRow <= n:
    spaces = 1
    while spaces <= (n - currRow) :
        print(" ", end = "")
        spaces += 1
    currCol = 1
    valToPrint = currRow
    while currCol <= currRow :
        print(valToPrint, end = "")
        valToPrint += 1
        currCol += 1
    currCol = 1
    valToPrint = 2 * currRow - 2 
    while currCol <= currRow - 1 :
        print(valToPrint, end = "")
        valToPrint -= 1
        currCol += 1 
    print()
    currRow += 1

5
    1
   232
  34543
 4567654
567898765